*{
    margin: 0;
    padding: 0;
}
#header{
    text-align: center;
    background-color:rgb(198, 172, 143);
    padding: 30px;
    border-bottom: black;
    border-style: solid;
}
.result{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.block{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}
.container-xy{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: aquamarine;
    
}
#choose-x{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 51, 59);
    color: white;
    font-size: 20px;
}
#choose-y{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 80, 63);
    color: white;
    font-size: 20px;
    
}

.canva{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6fff8;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    color: white;
    font-size: 30px;
}
#container-canva{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: aqua;
    
}
#button{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid red ;
    
}